{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
    {% include 'includes/cart_button.html' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}

{% block content %}
    <div class="mt-4 pt-2 bg-white custom-shadow rounded-4">
        <h2 class="m-3"><strong>{{ content  }}</strong></h2>
        <p class="m-3">Мы - команда страстных профессионалов, объединенных общей целью: создавать идеальные интерьеры,
            которые вдохновляют и радуют наших клиентов. Наш интернет-магазин мебели был основан в 2024 году с мечтой
            сделать покупку мебели простой, доступной и приятной.</p>
        <p class="m-3">За годы работы мы собрали коллекцию высококачественной, стильной и функциональной мебели от
            ведущих производителей. Будь то классическая элегантность или современный минимализм - мы предлагаем
            широкий выбор решений для обустройства любого пространства: от гостиной и спальни до кухни и детской.</p>
        <p class="m-3">Наша команда профессиональных дизайнеров и консультантов всегда готова помочь подобрать
            идеальную мебель, которая станет украшением вашего дома. Мы заботимся о каждом клиенте, предлагая
            персонализированный подход, удобные способы доставки и оплаты, а также надежные гарантии.</p>
        <p class="m-3">В основе нашей работы - стремление к совершенству, внимание к деталям и безупречный сервис.
            Наша цель - сделать процесс покупки мебели максимально простым и приятным, чтобы вы могли насладиться
            результатом и создать свое уютное и стильное пространство.</p>
        <p class="m-3 pb-3">Присоединяйтесь к нашей истории успеха! Добро пожаловать в мир красивой, качественной и
            функциональной мебели от интернет-магазина мебели "HOME"!</p>
    </div>
{% endblock %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Home 2024</p>
        </div>
    </footer>
{% endblock %}


