{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
    {% include 'includes/cart_button.html' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}

{% block content %}
    <div class="mt-4 pt-2 bg-white custom-shadow rounded-4">
        <h2 class="m-3"><strong>{{ content  }}</strong></h2>
                <p class="m-3">Мы понимаем, как важно для вас получить свой заказ как можно скорее. Именно поэтому
                    мы предлагаем быструю и надежную доставку в любую точку нашей страны.</p>
        <p class="m-3">Отгрузка осуществляется в течение 1-2 рабочих дней с момента подтверждения заказа.
            Мы работаем как с курьерскими службами, так и с почтовыми операторами, чтобы предоставить вам
            максимально удобные и выгодные варианты доставки.</p>
        <p class="m-3">Стоимость доставки зависит от выбранного способа и места назначения. Вы всегда можете
            уточнить точную сумму связавшись с нашими менеджерами.</p>
        <p class="m-3">Оплата заказа возможна различными способами:</p>
            <ul class="m-3">
              <li>Банковской картой онлайн на нашем сайте</li>
              <li>Наличными\картой при получении заказа</li>
            </ul>
        <p class="m-3 pb-3">Если у вас возникнут любые вопросы или сложности с доставкой или оплатой,
            наши менеджеры всегда готовы помочь и проконсультировать вас.
            Просто свяжитесь с нами любым удобным для вас способом.</p>
    </div>
{% endblock %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Home 2024</p>
        </div>
    </footer>
{% endblock %}


